<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="../vendor/phpunit/phpunit/phpunit.xsd"
	bootstrap="bootstrap.php"
	colors="true"
	verbose="true"
	beStrictAboutChangesToGlobalState="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTodoAnnotatedTests="true"
	failOnRisky="true"
	failOnWarning="true"
>
	<coverage processUncoveredFiles="true">
		<include>
			<directory suffix=".php">../src</directory>
		</include>
		<report>
			<html
				outputDirectory="../build/log/coverage/html"
				lowUpperBound="100"
				highLowerBound="100"
			/>
			<text
				outputFile="php://stdout"
				showUncoveredFiles="true"
				showOnlySummary="true"
			/>
		</report>
	</coverage>
</phpunit>
