name: 'CI'

on:
    pull_request:
    push:
        branches:
            - 'master'

env:
    CONSISTENCE_PHP_VERSION: '7.3'

jobs:
    composer-validate:
        name: 'Composer validate'
        runs-on: 'ubuntu-latest'

        steps:
            -
                name: 'Checkout'
                uses: 'actions/checkout@v2'
            -
                name: 'Setup PHP ${{ env.CONSISTENCE_PHP_VERSION }}'
                uses: 'shivammathur/setup-php@v2'
                with:
                     php-version: '${{ env.CONSISTENCE_PHP_VERSION }}'
                     coverage: 'none'
            -
                name: 'Composer install'
                uses: 'ramsey/composer-install@v1'
                with:
                    dependency-versions: 'highest'
            -
                name: 'Composer validate'
                run: 'bin/phing composer-validate'

    lint:
        name: 'Lint - PHP ${{ matrix.php-version }}'
        needs: 'composer-validate'
        runs-on: 'ubuntu-latest'

        strategy:
            fail-fast: false
            matrix:
                php-version:
                    - '7.2'
                    - '7.3'

        steps:
            -
                name: 'Checkout'
                uses: 'actions/checkout@v2'
            -
                name: 'Setup PHP ${{ matrix.php-version }}'
                uses: 'shivammathur/setup-php@v2'
                with:
                    php-version: '${{ matrix.php-version }}'
                    coverage: 'none'
            -
                name: 'Composer install'
                uses: 'ramsey/composer-install@v1'
                with:
                    dependency-versions: 'highest'
            -
                name: 'Lint'
                run: 'bin/phing phplint'

    coding-standard:
        name: 'Coding standard'
        needs: 'lint'
        runs-on: 'ubuntu-latest'

        steps:
            -
                name: 'Checkout'
                uses: 'actions/checkout@v2'
            -
                name: 'Setup PHP ${{ env.CONSISTENCE_PHP_VERSION }}'
                uses: 'shivammathur/setup-php@v2'
                with:
                    php-version: '${{ env.CONSISTENCE_PHP_VERSION }}'
                    coverage: 'none'
            -
                name: 'Composer install'
                uses: 'ramsey/composer-install@v1'
                with:
                    dependency-versions: 'highest'
            -
                name: 'Check coding standard'
                run: 'bin/phing cs'

    tests:
        name: 'Tests - PHP ${{ matrix.php-version }}, ${{ matrix.composer-dependencies }} dependencies'
        needs: 'lint'
        runs-on: 'ubuntu-latest'

        strategy:
            fail-fast: false
            matrix:
                php-version:
                    - '7.2'
                    - '7.3'
                composer-dependencies:
                    - 'highest'
                    - 'lowest'

        steps:
            -
                name: 'Checkout'
                uses: 'actions/checkout@v2'
            -
                name: 'Setup PHP ${{ matrix.php-version }}'
                uses: 'shivammathur/setup-php@v2'
                with:
                    php-version: '${{ matrix.php-version }}'
                    coverage: 'xdebug'
            -
                name: 'Composer install'
                uses: 'ramsey/composer-install@v1'
                with:
                    dependency-versions: '${{ matrix.composer-dependencies }}'
            -
                name: 'Run tests'
                run: 'bin/phing tests'
